Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|tests)/'
